body{
    margin: 0;
    padding: 0;
}


.list{
    display: flex;
    align-items: center;
    justify-content: right;
    right: 20%;
    position: absolute;
    flex-direction: column;
    
}
.list-header{
    color: black;

}

li{
    color: black;
    font-size: 20px;
}



