body {
  text-align: center;
  background-color: #edfdff;
  align-items: center;
  margin-top: 12%;
  
}
.card {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 0 0 0 10px;
  text-align: center;
  font-family: arial;
  display: inline-block;
  border-radius: 5px;
}

.title {
  color: black;
  font-family: initial;
  font-size: 18px;
}

.card:hover {
  transition: all 0.7s ease-out;
  background-color: rgb(67, 201, 235);
}
